<section class="container-tasks">
  <form class="form-task">
    <h1 class="title">Crear nueva tarea</h1>
    <div class="container-inputs">
      <input class="input" placeholder="Nombre de la tarea" />
      <input class="input" placeholder="Fecha limite" />
    </div>

    <h1 class="title">Personas asociadas</h1>
    <div class="container-inputs">
      <input class="input" placeholder="Nombre de la tarea" />
      <input class="input" placeholder="Fecha limite" />
    </div>
    <button class="button-form">Crear tarea</button>
  </form>
</section>
