.container-header {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(181, 226, 205);
  top: 0;
  left: 0;
}

.container-header > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-link {
  color: #347928;
  font-weight: 500;
}
