.form-task {
  width: 500px;
  height: auto;
  background-color: #6a9c89;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.title {
  margin-top: 10px;
}

.container-inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: medium;
  border: none;
  border: 1px solid #16423c;
  outline: none;
}

.text-error {
  color: #fce1e1;
}

.container-input-skills {
  display: flex;
  gap: 10px;
}

.button-add-skill {
  background-color: #2e5a53;
  font-size: medium;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
}

.container-skills-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bubble-people {
  background-color: #fccd2a;
  color: white;
  border-radius: 10px;
  font-size: small;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bubble-people > img {
  cursor: pointer;
}

.bubble-skill {
  background-color: #6439ff;
  color: white;
  border-radius: 10px;
  font-size: small;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bubble-skill > img {
  cursor: pointer;
}

.container-people {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.peple {
  background-color: #6439ff;
  color: white;
  border-radius: 10px;
  font-size: small;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-people {
  padding: 10px;
  font-size: medium;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff0d1;
  color: black;
  border: none;
  cursor: pointer;
  transition: 500ms ease;
  margin-bottom: 20px;
}

.button-people-disebled {
  padding: 10px;
  font-size: medium;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff0d1b7;
  color: black;
  border: none;
  transition: 500ms ease;
  margin-bottom: 20px;
}

.button-form {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #16423c;
  color: white;
  border: none;
  cursor: pointer;
  transition: 500ms ease;
}

.button-form:hover {
  background-color: #2e5a53;
}

.button-add-skill:hover {
  background-color: #418075;
}
.button-user:hover {
  background-color: #ebddc3;
}

@media (max-width: 614px) {
  .form-task {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
}

@media (max-height: 744px) {
  .form-task {
    margin-top: 300px;
  }
}
