<section class="container-tasks">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="form-task">
    <h1 class="title">Crear nueva tarea</h1>
    <div class="container-inputs">
      <input
        formControlName="taskName"
        class="input"
        placeholder="Nombre de la tarea"
      />
      <div *ngIf="submitted">
        <small
          *ngIf="taskForm.get('taskName')?.errors?.['required']"
          class="text-error"
          >El nombre es obligatorio</small
        >
        <small
          *ngIf="taskForm.get('taskName')?.errors?.['minlength']"
          class="text-error"
          >Debe tener al menos 3 caracteres</small
        >
      </div>
      <input
        formControlName="dueDate"
        class="input"
        type="date"
        placeholder="Fecha límite"
      />
      <div *ngIf="submitted">
        <small
          *ngIf="taskForm.get('dueDate')?.errors?.['required']"
          class="text-error"
          >La fecha límite es obligatoria</small
        >

        <small
          *ngIf="!taskForm.get('dueDate')?.errors?.['required'] && taskForm.get('dueDate')?.errors?.['notFutureDate']"
          class="text-error"
          >La fecha debe ser posterior a la actual</small
        >
      </div>
    </div>

    <h1 class="title">Personas asociadas</h1>

    <ul class="container-people">
      <li *ngFor="let person of people" class="bubble-people">
        {{ person.name }}
        <img
          (click)="removePerson(person.name)"
          src="assets/icon-delete.png"
          width="17px"
          alt="Icono de agregar"
        />
      </li>
    </ul>
    <div class="container-inputs">
      <input
        class="input"
        placeholder="Nombre completo"
        formControlName="fullName"
      />
      <div *ngIf="submitted || areFieldsFilled()">
        <small
          *ngIf="taskForm.get('fullName')?.errors?.['required']"
          class="text-error"
          >El nombre completo es obligatorio</small
        >

        <small
          *ngIf="taskForm.get('fullName')?.errors?.['minlength']"
          class="text-error"
          >Debe tener al menos 5 caracteres</small
        >
      </div>
      <input
        formControlName="age"
        type="number"
        class="input"
        placeholder="Edad"
      />
      <div *ngIf="submitted || areFieldsFilled()">
        <small
          *ngIf="taskForm.get('age')?.errors?.['required']"
          class="text-error"
          >La edad es obligatoria</small
        >

        <small *ngIf="taskForm.get('age')?.errors?.['min']" class="text-error"
          >Debe ser mayor de 18 años</small
        >
      </div>
      <div class="container-input-skills">
        <input
          type="text"
          formControlName="nameSkill"
          class="input"
          placeholder="Habilidad"
        />

        <button type="button" class="button-add-skill" (click)="addSkill()">
          <img src="assets/icon-add.png" width="30px" alt="Icono de agregar" />
        </button>
      </div>
      <div *ngIf="submitted">
        <small *ngIf="!skills.length" class="text-error"
          >Debes agregar al menos una habilidad</small
        >
      </div>
      <ul class="container-skills-form">
        <li *ngFor="let skill of skills" class="bubble-skill">
          {{ skill }}
          <img
            (click)="removeSkill(skill)"
            src="assets/icon-delete.png"
            width="17px"
            alt="Icono de agregar"
          />
        </li>
      </ul>
    </div>
    <button
      type="button"
      [disabled]="!areFieldsFilled()"
      [ngClass]="areFieldsFilled() ? 'button-people' : 'button-people-disebled'"
      (click)="addPerson()"
    >
      Agregar persona
    </button>
    <hr />
    <button class="button-form" type="submit">
      {{ loading ? "....." : "Guadar tarea" }}
    </button>
  </form>
</section>
